<!DOCTYPE html>
 <html>
 <head>
   <title>BirthdayBot</title>
   <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
 </head>
 <body>
  <div class="current-user">
   <div id="name">
    <!-- IF/ELSE CONDITION TO DISPLAY USERS USERNAME ONCE LOGGED IN -->
    <% if current_user %>
      <a><%= current_user.name %></a>
    <% end %>
    <!-- END IF/ELSE CONDITION TO DISPLAY USERS USERNAME ONCE LOGGED IN -->
   </div>
  </div>
    <!-- IF/ELSE CONDITION TO DISPLAY LINK TO LOG OUT IF SIGNED IN -->
    <% if current_user %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% end %>
    <!-- END IF/ELSE CONDITION TO DISPLAY LINK TO LOG OUT IF SIGNED IN -->
 <%= yield %>
 </body>
 </html>