<!DOCTYPE html>
 <html>
 <head>
   <title>Posterest</title>
   <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
   <style>
    p{
      border:2px solid gray;
      border-radius:25px;
      background-color: #3B5998;
      padding-bottom: 20px;
      color: white;
    }
    a{
      text-align: right
    }
   </style>
 </head>
 <body>
    <% if current_user %>
      <a><%= current_user.name %></a>
      <div id="login-modal">
        <div id="login-img-container">
            <%= link_to(image_tag("https://www.save.ca/img/logout_FB.png"), signout_path, id: "sign_out") %>
        </div>
        <p class="login-txt">Submit Your Links or Choose at Random!</p>
        </div>
    <% else %>
      <div class="main-body">
        <div id="fb-login">
          <div id="login-modal">
            <div id="login-img-container">
              <%= link_to(image_tag("https://www.save.ca/img/signup_FB.png"), "/auth/facebook", id: "sign_in") %>
            </div>
            <p class="login-txt">Submit Your Links or Choose at Random!</p>
          </div>
        </div>
      </div>
    <% end %>
 <%= yield %>
 </body>
 </html>