<!DOCTYPE html>
 <html>
 <head>
   <title>BirthdayBot</title>
   <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
 </head>
 <body>
  <div class="current-user">
   <div id="name">
    <!-- IF/ELSE CONDITION TO DISPLAY USERS USERNAME ONCE LOGGED IN -->
    <% if current_user %>
      <a><%= current_user.name %></a>
    <% end %>
    <!-- END IF/ELSE CONDITION TO DISPLAY USERS USERNAME ONCE LOGGED IN -->
   </div>
  </div>
    <!-- IF/ELSE CONDITION TO DISPLAY LINK TO LOG OUT IF SIGNED IN -->
    <% if current_user %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <div class="main-body">
        <div id="fb-login">
          <div id="login-modal">
            <p class="login-txt">Never Forget a Birthday again!</p>
            <div id="login-img-container">
              <%= link_to(image_tag("fb-login.png"), "/auth/facebook", id: "sign_in") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- END IF/ELSE CONDITION TO DISPLAY LINK TO LOG OUT IF SIGNED IN -->
 <%= yield %>
 </body>
 </html>