<!DOCTYPE html>
 <html>
 <head>
   <title>Posterest</title>
   <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
   <style>
    p{
      border:2px solid gray;
      border-radius:25px;
      background-color: #3B5998;
      padding-bottom: 20px;
      color: white;
    }
    a{
      text-align: right
    }
   </style>
 </head>
 <body>
    <% if current_user %>
    <a><%= current_user.name %></a>

    <nav class="navbar navbar-default navbar-static-top navbar-right" role="navigation">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to(image_tag("https://www.save.ca/img/logout_FB.png"), signout_path, id: "sign_out") %></li>
        </ul>
      </div>
    </nav></br></br></br></br></br>

       <div class="main-body">
        <div id="fb-login">
          <div id="login-modal">
            <p class="login-txt">Submit Your Posts or Choose at Random!</p>
          </div>
        </div>
      </div>

    <% else %>

    <nav class="navbar navbar-default navbar-static-top navbar-right" role="navigation">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to(image_tag("https://www.save.ca/img/signup_FB.png"), "/auth/facebook", id: "sign_in") %></li>
        </ul>
      </div>
    </nav></br></br></br></br></br>

      <div class="main-body">
        <div id="fb-login">
          <div id="login-modal">
            <p class="login-txt">Submit Your Posts or Choose at Random!</p>
          </div>
        </div>
      </div>
    <% end %>
 <%= yield %>
 </body>
 </html>